<template>
  <div>
    <v-row>
      <v-col cols="12" md="3">
        <div class="text-h6 text-uppercase">
          {{ type==='datepicker' ? 'Pick a date' : 'Select List' }}
        </div>
      </v-col>
      <v-col cols="12" md="9" class="pa-0">
        <v-row>
          <v-col cols="6">
            <div class="text-body-1">
              Select List
            </div>
            <v-hover v-slot="{ hover }">
              <v-select
                :items="items"
                :menu-props="{ bottom: true, offsetY: true }"
                append-icon="mdi-chevron-down"
                solo
                flat
                :disabled="type==='datepicker'"
                :background-color="hover ? 'blue lighten-4' : '#EEEEEE'"
              />
            </v-hover>
          </v-col>
          <v-col cols="6">
            <div class="text-body-1">
              Pick a date
            </div>
            <v-menu
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              min-width="auto"
            >
              <template #activator="{ on, attrs }">
                <v-hover v-slot="{ hover }">
                  <v-text-field
                    v-model="computedDateFormatted"
                    persistent-hint
                    append-icon="mdi-calendar-range-outline"
                    solo
                    flat
                    readonly
                    autocomplete="off"
                    :disabled="type!=='datepicker'"
                    :background-color="type!=='datepicker' ? '#EEEEEE' : hover ? 'blue lighten-4' : '#EEEEEE'"
                    v-bind="attrs"
                    v-on="on"
                  />
                </v-hover>
              </template>
              <v-date-picker
                v-model="date"
                no-title
                scrollable
                @input="menu = false"
              />
            </v-menu>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: null
    }
  },
  data () {
    return {
      items: ['Magic Gardens', 'Sun flower', 'Tulip'],
      date: '',
      menu: false
    }
  },
  computed: {
    computedDateFormatted () {
      return this.formatDate(this.date)
    }
  },
  watch: {
    date (val) {
      this.dateFormatted = this.formatDate(this.date)
    }
  },
  methods: {
    formatDate (date) {
      if (!date) { return null }

      const [year, month, day] = date.split('-')
      return `${day}-${month}-${year}`
    }
  }
}
</script>
