<template>
  <div class="mx-16 my-16">
    <Select />
    <!-- <Select :type="'datepicker'" /> -->
  </div>
</template>

<script>
import Select from '~/components/Select.vue'
export default {
  components: {
    Select
  }

}
</script>

<style>

</style>
